@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    color: #24292e;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

/* Components */
.wrapper {
    max-width: 960px;
    margin: 0 auto 130px auto;
    font-size: 0.9rem;
    padding: 0 4%;
}

.site-title {
    line-height: 1px;
}

.site-title a {
    display: block;
}

.sec-title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 65px;
}

/* Header */
#header {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 270px;
    padding: 10px 0;
}

#header ul {
    display: flex;
    padding: 10px 0;
}

#header li {
    font-size: 0.9rem;
    margin-left: 30px;
}

#header li a {
   color: #24292e;
}

#header li a:hover {
    opacity: 0.7;
}

#header li img {
    width: 20px;
}


